/* src/styles/portfolio/sections/common/SectionForm.module.css */

.formContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.formContainer :global(.formItem) {
    margin-bottom: 0;
}